/dts-v1/;
/ {
    compatible = "generic,cas-dtbo-touch-invert-aosp";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            touchpanel_invert_aosp: touchpanel_invert_aosp {
                compatible = "generic,invert-touch-y";
                touchpanel,invert-y;
            };
        };
    };
};
