/dts-v1/;
/ {
    compatible = "xiaomi,cas-dtbo-touch-invert-miui";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            touchpanel_invert: touchpanel_invert {
                compatible = "fixed,invert-touch-y-miui";
                touchpanel,swap-axes;
                touchpanel,invert-y;
            };
        };
    };
};
